:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
body{
    font-family: 'Noto Sans JP', sans-serif;
}
.center{
    background-image: url("/unDraw-background.png");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 100px;
}
h1{
    font-size: 90px;
    font-weight: 500;
}

.name{
    color: rgb(239, 180, 16);
    font-size: 97px;

    
}

.introduction{
    font-size: 27px;
}
.description{
    font-size: 30px;
    position: relative;
    top: -40px;
}

 .mail{
    position: fixed;
    left: 1180px;
    bottom: 23px;
    width: 40px;
    height: 25px;
    }

.scrolldown{
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1)
{
    transform:translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2)
{
    transform:translate(0px, 0px);
    animation-delay: -0.2s;

}
.scrolldown span:nth-child(3)
{
    transform:translate(15px, 15px);
    animation-delay: 0s;

}

@keyframes animate {
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }

}

 .white{
    border: none;
    background-color: transparent;
}

.about{
    padding-top: 200px;
    padding-bottom: 215px;
    padding-left: 140px;
    padding-right: 140px;
    background-color: white;
}

.education{
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
    background-color: white;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
}

.projects{
    padding-top: 200px;
    padding-bottom: 215px;
    padding-left: 140px;
    padding-right: 140px;
    background-color: white;
}

.contact{
    padding-top: 200px;
    padding-bottom: 215px;
    padding-left: 140px;
    padding-right: 140px;
    background-color: white;
}


li img{
    width: 30px;
    height: 30px;
    margin-bottom: 13px;
    
}
ul{
    list-style: none;

}
.icon-bar{
   position: fixed;
   left: -2px;
   bottom: -5px;
}

@media(max-width: 600px){
    h1{
        text-align: center;
        margin: 0;
        padding: 0;        
    }
    .about{
        margin: 0;
        padding: 0;
    }
}





